<div class="title">
   <%= form_tag admin_service_items_path, method: :get do %>
    <h2><i class="fa "></i>项目内容</h2>
    <div class="titlebox">
      <a class="btn2" href="/admin/service_items/new"><i class="fa"></i>添加内容</a>
    </div>
  <% end %> 
</div>

<div class="tabbox1">
  <table class="tab1 mt30">
    <thead>
      <tr>
        <th>所属项目</th>
        <th>内容简介</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @service_items.each do |service_item| %>
        <tr class="center">
          <td><%= Service.find_by_id(service_item.service_id).try(:name) %></td>
          <td><%= service_item.desc %></td>
          <td class="action-buttons">
            <%= link_to "修改", edit_admin_service_item_path(service_item), class: "blue " %>
            <%= link_to "置顶", "/admin/service_items/top?id=#{service_item.id}", class: "blue " %>
            <%= link_to "删除", [:admin, service_item], method: :delete, data: {confirm: "确定删除?"}, title:"删除", class:"red  " %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @service_items %>
</div>
