<div class="title">
    <h2><i class="fa "></i>项目内容</h2>
</div>
<%= form_for [:admin, @service_item], html: {id:"Forms", role: "form" }  do |f| %>
  <table class="tab2 mt20">
  <tr>
      <td width="100" class="bold right">标题</td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td width="100" class="bold right">所属项目</td>
      <td>
        <%= f.select :service_id, options_for_select(Service.all.map{|x| [x.name, x.id]}), {}, class: "" %>
      </td>
    </tr>

    <tr>
      <td width="100" class="bold right">图片</td>
      <td>
        <%= f.file_field :image %>
      </td>
    </tr>

    <tr>
      <td width="100" class="bold right">简答描述</td>
      <td>
        <%= f.text_area :desc, rows: 4, cols: 100 %>
      </td>
    </tr>

    <tr>
      <td width="100" class="bold right">详细内容</td>
      <td>
        <%= f.kindeditor :content%>
      </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td style="padding-top:75px;">
          <button class="btn3 mr20" type="submit"><i class=" "></i>完成</button>
          <button onclick="history.go(-1)" class="btn4" type="button"><i class=""></i>返回</button>
        </td>
      </tr>
  </table>
<% end %>





