<%= render "left" %>
<style type="text/css">

</style>

<div style="float: left; height: auto; width: 70%; padding-left: 100px; word-wrap:break-word">
  <!--面包屑-->
  <div class="crumb">
    <span style="font-size: 300%; padding-left: 20px;"><%= @case.name %></span>
    <div style="float: right; padding-top: 30px; padding-right: 20px;">
      <span>工程案例</span> > <span></span>
    </div>
  </div>

  <!--正文-->
  <div class="context">
    <h1 style="  ">
      <%= @case.name %>
    </h1>
    <!--图片-->
    <div class="coim">
      <%= image_tag @case.image_url %>
    </div>
    <div class="bbm ">
      <h3>
        详情介绍
      </h3>
    </div>
    <div style="min-height: 300px;">
      <%=sanitize @case.context %>
    </div>
  </div>

 <div class="demo_line_01"><%= $intro.name %></div>

<!--其他问题-->
<div class="bbm">
   <h3>
      其他案例：
   </h3>
 </div> 

  <ul class="oth">
     <% @cases[0,4].each do |ca| %>
        <li style="float: left; margin: 0 5px; text-align:center;">
          <a>
            <%= image_tag ca.image_url %>
            <br/>
            <span><%= ca.name %></span>
          </a>
        </li>
     <% end %>
   </ul>
</div>