
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>夏斌的网站_无锡管道疏通清洗_无锡清理污水池_CCTV管道检测_夏斌</title>
<meta name="keywords" content="无锡清理化粪池,无锡化粪池清理,无锡清理污水池,无锡清理隔油池,无锡清理沉淀池,无锡管道疏通,无锡疏通下水道,无锡污水管道清洗,无锡雨水管道清洗,无锡环卫所抽粪,无锡洒水车出租,无锡雨水管道疏通,无锡污水管道疏通,无锡CCTV管道检测,无锡管道检测,无锡声纳管道检测,无锡QV管道检测" />
<meta name="description" content="无锡清理化粪池,新区污水管道疏通检测选【无锡夏斌服务热线：15052215566】,我公司专业从事滨湖区疏通下水道,梅村清理污水池,惠山区雨水管道清洗疏通,崇安区清理隔油池,江阴清理沉淀池,宜兴环卫所抽粪.以及无锡高压管道清洗疏通,cctv声纳管道检测等业务。" />
<link href="Public/css/style.css" type="text/css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="Public/css/nivo-slider.css">
<script type="text/javascript" src="Public/js/jquery.min.js"></script>
<script type="text/javascript" src="Public/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="Public/js/script.js"></script>
<script type="text/javascript">(!!navigator.userAgent.match(/Mobile/))||(!!navigator.userAgent.match(/UCBrowser/))?window.location.href='./Mb/Index/':null;</script>
<script type="text/javascript">
$(function() {
   $('#slider').nivoSlider({directionNavHide:false,captionOpacity:0});
});
//选项卡
$(function(){
  $('.hyxw').hover(function(){
    $('.hyxwc').show();
    $('.gsxwc').hide();
    });
  $('.gsxw').hover(function(){
    $('.hyxwc').hide();
    $('.gsxwc').show();
    });

});
</script>
<!-- www.jdlhbgc.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?3106aed4f65f5d0fa901d9343327f02c";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
<div class="header">
  <div class="top_top">
      <div class="top_c">
          <div class="top_top_left">无锡清理化粪池_污水雨水管道疏通清洗_无锡清理污水池_<%= $intro.name %>！</div>
            <div class="top_top_right"><a href="/">网站首页</a>|<a onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('')" >设为首页</a>|<a href="javascript:window.external.AddFavorite('', '【无锡清理化粪池】_无锡管道疏通清洗_无锡清理污水池_CCTV管道检测_夏斌')">加入收藏</a></div>
            <div class="clear"></div>
        </div>
    </div>
  <div class="top" style=" width: auto;">
      <div class="logo" style="margin-left: 10%;">
        <a href="/">
          <%= $intro.name %>
        </a>
      </div>
        <div class="tel">
          
        </div>
      <div class="clear"></div>
    </div>
    <div id="navmenu">
      <ul>
          <li><a href="/">首页</a></li>
            <li class="nav11"><a href="/index/product">服务项目</a></li>
            <li class="nav11"><a href="/Home/Index/products/id/12.html">工程案例</a></li>
            <li class="nav11"><a href="/index/news">新闻中心</a></li>
            <li class="nav11"><a href="/index/intro">公司介绍</a></li>
            <li class="nav11"><a href="/index/about">联系我们</a></li>           
            <div class="clear"></div>
        </ul>
    </div>
  <div class="bannner"> 
        <div id="slider" class="nivoSlider">
            <% $advts.each do |advt|%> 
                <%=link_to nil, nil, {} do  %>
                     <a target="_blank"><img src="<%= advt.image_url %>" alt="#" title="" width="1920" height="520" /></a>
                <% end%>
            <% end%>
<!--           <a target="_blank"><img src="Public/Banner/5ad83f61d406a.jpg" alt="#" title="" width="1920" height="520" /></a>
          <a target="_blank"><img src="Public/Banner/58f71d073fa5d.jpg" alt="#" title="" width="1920" height="520" /></a>
          <a target="_blank"><img src="Public/Banner/58f722f32e599.jpg" alt="#" title="" width="1920" height="520" /></a>   -->      
        </div>  
  </div>
</div> 

<div class="main">
  <div class="case">
      <div class="index-t"><p>推荐服务</p><a href="/Home/Index/products/id/2">+More</a><div class="clear"></div></div>
        <div class="con3-c iborder">
                <div id="demoo" style="overflow:hidden;height:auto;width:1160px; margin:0px auto;">
                  <table cellpadding="0" cellspace="0" border="0">
                    <tr>
                    <td id="demoo1"><table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <a href="/Home/Index/productsd/id/118.html" title="管道检测">
                                <img src="Public/Uploads/2017-11-21/5a1396bed159b.png" width="275" height="215" alt="管道检测" />
                                    <p>管道检测</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/119.html" title="管道疏通专业技术精湛">
                                <img src="Public/Uploads/2017-11-21/5a13979d24f49.jpg" width="275" height="215" alt="管道疏通专业技术精湛" />
                                <p>管道疏通专业技术精湛</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/116.html" title="污水管道清洗-随时欢迎咨询">
                                <img src="Public/Uploads/2017-11-21/5a139527633c0.jpg" width="275" height="215" alt="污水管道清洗-随时欢迎咨询" />
                                    <p>污水管道清洗-随时欢迎咨询
                                    </p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/110.html" title="雨水管道清洗-清洗效果触眼可及">
                                <img src="Public/Uploads/2017-11-21/5a138def0515d.jpg" width="275" height="215" alt="雨水管道清洗-清洗效果触眼可及" />
                                    <p>雨水管道清洗-清洗效果触眼可及</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/131.html" title="清理污水池-专业服务让您满意">
                                <img src="Public/Uploads/2017-11-21/5a13a86cb6514.jpg" width="275" height="215" alt="清理污水池-专业服务让您满意" />
                                <p>清理污水池-专业服务让您满意</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/117.html" title="管道检测-管道CCTV检测">
                                <img src="Public/Uploads/2017-11-21/5a1395cb01ee8.jpg" width="275" height="215" alt="管道检测-管道CCTV检测" />
                                <p>管道检测-管道CCTV检测</p>
                            </a>
                        </td>
                    </tr>
                    </table>
                    </td>
                    <td id="demoo2"></td>
                    </tr>
                  </table>
                </div>
                
                <script>
                var speed=30
                var MyMar=setInterval(Marquee,speed)
                demoo2.innerHTML=demoo1.innerHTML
                demoo.onmouseover=function() {clearInterval(MyMar)}
                demoo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}
                function Marquee(){
                if(demoo2.offsetWidth-demoo.scrollLeft<=0)
                demoo.scrollLeft-=demoo1.offsetWidth
                else{
                demoo.scrollLeft++
                }
                }
                </script>
            </div>
    </div>
    
    <!----about---->
  <div class="con2">
      <div class="con2-l">
          <div class="index-t"><p>公司介绍</p><a href="/index/intro">+More</a><div class="clear"></div></div>
            <div class="con2-l-c">
                    <img src="Public/images/about.png" />
                    <div class="about-r">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <%= $intro.name %>坐落于美丽的太湖之滨—无锡。是经江苏省无锡市工商局、环保局批准的专业从事环保工程；市政管道清洗疏通工程；工业废水、污水化粪池处理工程为一体的大型综合性工程服务公司。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎新老客户随时来电咨询洽谈，希望我们的事业发展能得到您们大力支持，预祝我们合作愉快 ！<br />
                    </div>
            </div>
        </div>
        <div class="con2-ce">
          <div class="index-t"><p>公司新闻</p><a href="/index/news">+More</a><div class="clear"></div></div>
            <div class="newstop1">
                    <img src="Public/Uploads/2018-11-21/5bf50296ea5f0.jpg" />
                    <div class="newstop1-r">
                        <p><a href="/Home/Index/newsd/id/174.html">为何要定期开展无锡环卫所抽粪工作？</a></p>
                        <span>为了充分展现无锡这座城市良好的市容市貌，政府就要定期开展环卫所抽粪工作，</span>
                    </div>
                    <div class="clear"></div>
                </div>            
                <ul class="indexnewslist">
                    <% @newses.each do |news|%>
                        <li>
                            <a href="/Home/Index/newsd/id/174.html">为何要定期开展无锡环卫所抽粪工作？</a>
                            <span>2018-11-21</span>
                        </li>
                    <% end %>
                 <li><a href="/Home/Index/newsd/id/174.html">为何要定期开展无锡环卫所抽粪工作？</a><span>2018-11-21</span></li>
                 <li><a href="/Home/Index/newsd/id/169.html">无锡化粪池清理不当可能引发的后果</a><span>2018-10-26</span></li>
                 <li><a href="/Home/Index/newsd/id/165.html">无锡化粪池清理要按照什么标准收费？</a><span>2018-10-12</span></li>
                 <li><a href="/Home/Index/newsd/id/163.html">无锡环卫所抽粪的具体操作流程【厂家分享】</a><span>2018-09-29</span></li>
                 <li><a href="/Home/Index/newsd/id/160.html">无锡老小区化粪池长期不清理会有什么后果</a><span>2018-09-20</span></li>            
                </ul>
        </div>
        <div class="con2-r">
          <div class="index-t1"><p>联系我们</p></div>
            <div class="con2-c-c">
               <p>无锡夏斌工程有限公司</p>
地址：无锡市新吴区净慧东道78号<br />
电话：0510-85203335<br />
手机：15052215566<br />
传真：0510-85203335<br />
联系人：沈经理<br />
网址：www.jdlhbgc.com<br/>邮箱：946992252@qq.com            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!----about---->
    
  <div class="con1">
      <div class="con1-l">
        <div class="con1-l-t">服务项目 Service Items</div>
          <ul class="iauth">
            <% $services.each do |service| %>
                <li>
                    <%=link_to service.name, "", title: service.name %>
                </li>
            <% end %>
         <!--    <li><a href="/Home/Index/products/id/18.html" title="清理化粪池">清理化粪池</a></li>
            <li><a href="/Home/Index/products/id/5.html" title="清理污水池">清理污水池</a></li>
            <li><a href="/Home/Index/products/id/15.html" title="清理隔油池">清理隔油池</a></li>
            <li><a href="/Home/Index/products/id/16.html" title="清理沉淀池">清理沉淀池</a></li>
            <li><a href="/Home/Index/products/id/19.html" title="管道疏通">管道疏通</a></li>
            <li><a href="/Home/Index/products/id/20.html" title="管道检测">管道检测</a></li>
            <li><a href="/Home/Index/products/id/21.html" title="管道清洗">管道清洗</a></li>
            <li><a href="/Home/Index/products/id/22.html" title="疏通下水道">疏通下水道</a></li>
            <li><a href="/Home/Index/products/id/23.html" title="污水管道清洗">污水管道清洗</a></li>
            <li><a href="/Home/Index/products/id/24.html" title="雨水管道清洗">雨水管道清洗</a></li>
            <li><a href="/Home/Index/products/id/25.html" title="环卫所抽粪">环卫所抽粪</a></li>
            <li><a href="/Home/Index/products/id/27.html" title="抽污泥">抽污泥</a></li>
            <li><a href="/Home/Index/products/id/26.html" title="洒水车出租">洒水车出租</a></li>  -->
          </ul>
        </div>
        <div class="con1-r">
          <div class="index-t"><p>服务项目</p><a href="/index/product">+More</a><div class="clear"></div></div>
          <ul class="cp_list">
                <li>
                    <a href="/Home/Index/productsd/id/118.html" title="管道检测">
                    <img src="Public/Uploads/2017-11-21/5a1396bed159b.png" alt="管道检测" />
                    <p>管道检测</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/Index/productsd/id/119.html" title="管道疏通专业技术精湛">
                        <img src="Public/Uploads/2017-11-21/5a13979d24f49.jpg" alt="管道疏通专业技术精湛" />
                        <p>管道疏通专业技术精湛</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/Index/productsd/id/110.html" title="雨水管道清洗-清洗效果触眼可及">
                        <img src="Public/Uploads/2017-11-21/5a138def0515d.jpg" alt="雨水管道清洗-清洗效果触眼可及" />
                        <p>雨水管道清洗-清洗效果触眼可及</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/Index/productsd/id/117.html" title="管道检测-管道CCTV检测">
                        <img src="Public/Uploads/2017-11-21/5a1395cb01ee8.jpg" alt="管道检测-管道CCTV检测" />
                        <p>管道检测-管道CCTV检测</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/Index/productsd/id/120.html" title="管道疏通">
                        <img src="Public/Uploads/2017-11-21/5a139876b6303.jpg" alt="管道疏通" />
                        <p>管道疏通</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/Index/productsd/id/124.html" title="疏通下水道，市政管网疏通">
                        <img src="Public/Uploads/2017-11-21/5a139a0ae97ea.jpg" alt="疏通下水道，市政管网疏通" />
                        <p>疏通下水道，市政管网疏通</p>
                    </a>
                </li>   
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
  
    <!----case---->
    <div class="case">
      <div class="index-t"><p>工程案例</p><a href="/Home/Index/products/id/12">+More</a></div>
        <div class="con3-c iborder">
                <div id="caseo" style="overflow:hidden; height:auto;width:1160px;margin:0 auto; margin:0px auto; ">
                  <table cellpadding="0" cellspace="0" border="0">
                    <tr>
                    <td id="case1"><table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <a href="/Home/Index/productsd/id/56.html">
                                <img src="Public/Uploads/2016-11-02/5819d89139035.jpg" width="275" height="215" />
                                <p>雨水管道清洗案例</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/57.html">
                                <img src="Public/Uploads/2016-11-02/5819d8c3ec692.jpg" width="275" height="215" />
                                <p>污水管道清理案例</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/58.html">
                                <img src="Public/Uploads/2016-11-02/5819d8e7c3df5.gif" width="275" height="215" />
                                <p>管理疏通案例</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/59.html">
                                <img src="Public/Uploads/2016-11-02/5819d906e289c.gif" width="275" height="215" />
                                <p>污水管理清理案例</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/60.html">
                                <img src="Public/Uploads/2016-11-02/5819d9334d5e6.jpg" width="275" height="215" />
                                <p>工业污水管道清洗</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/61.html">
                                <img src="Public/Uploads/2016-11-02/5819d9534955d.jpg" width="275" height="215" />
                                <p>化粪池清理现场</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/62.html">
                                <img src="Public/Uploads/2016-11-02/5819d97444c9d.jpg" width="275" height="215" />
                                <p>疏通下水道现场</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/63.html">
                                <img src="Public/Uploads/2016-11-02/5819d9c13c391.jpg" width="275" height="215" />
                                <p>高压管道清洗现场</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/64.html">
                                <img src="Public/Uploads/2016-11-02/5819d9e010475.jpg" width="275" height="215" />
                                <p>污水管理清理现场</p>
                            </a>
                        </td>
                        <td>
                            <a href="/Home/Index/productsd/id/65.html">
                                <img src="Public/Uploads/2016-11-02/5819da139bb5b.jpg" width="275" height="215" />
                                <p>环卫所抽粪现场</p>
                            </a>
                        </td>                    
                        </tr>
                    </table>
                    </td>
                    <td id="case2"></td>
                    </tr>
                  </table>
                </div>
                
                <script>
                var speed=30
                var MyMar=setInterval(Marquee,speed)
                case2.innerHTML=case1.innerHTML
                caseo.onmouseover=function() {clearInterval(MyMar)}
                caseo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}
                function Marquee(){
                if(case2.offsetWidth-caseo.scrollLeft<=0)
                caseo.scrollLeft-=case1.offsetWidth
                else{
                caseo.scrollLeft++
                }
                }
                </script>
            </div>
    </div>
    <!----case---->
<div class="clear"></div>
    <!----news---->
    <div class="news">
        <div class="news-l">
            <div class="inews-t"><div class="new-t">
                <a href="#" class="gsxw" style="">公司公告</a>
                <a href="#" style="" class="hyxw">行业新闻</a>
            </div>
            <a href="/Home/Index/news/id/7.html" class="newsmore">+More</a></div>
            <div class="news-c">
                <div class="gsxwc">
                    <div class="newstop">
                        <img src="Public/Uploads/2018-11-01/5bdaad922d977.jpg" />
                        <div class="newstop-r">
                        <p><a href="/Home/Index/newsd/id/171.html">如何解决无锡管道疏通中的漏水问题</a></p>
                        <span>保护水源，节约用水是需要我们终生奉行的守则，任何浪费用水的行为都要坚决抵</span>
                        <a href="/Home/Index/newsd/id/171.html" class="more">查看更多</a>
                        </div>
                        <div class="clear"></div>
                    </div>                    
                        <ul class="newslist">
                            <li>
                                <a href="/Home/Index/newsd/id/175.html">厨房下水道堵了该如何疏通？君得利为你排忧！</a>
                                <span>[2018-11-28]</span>
                            </li>
                            <li>
                                <a href="/Home/Index/newsd/id/173.html">定期疏通下水道能有效解决管道异味问题</a>
                                <span>[2018-11-16]</span>
                            </li>
                            <li>
                                <a href="/Home/Index/newsd/id/171.html">如何解决无锡管道疏通中的漏水问题</a>
                                <span>[2018-11-01]</span>
                            </li>
                            <li>
                                <a href="/Home/Index/newsd/id/170.html">无锡雨水管道清洗掌握方法很重要</a>
                                <span>[2018-10-30]</span>
                            </li>
                            <li>
                                <a href="/Home/Index/newsd/id/168.html">无锡清理污水池要制定安全作业规程</a>
                                <span>[2018-10-24]</span>
                            </li>                    
                        </ul>
                </div>

                <div class="hyxwc" style=" display:none;">
                     <div class="newstop">
                        <img src="Public/Uploads/2016-12-15/5851f45d0332d.jpg" />
                        <div class="newstop-r">
                        <p><a href="/Home/Index/newsd/id/55.html">清理化粪池的流程和规范</a></p>
                        <span>化粪池里因各种生活垃圾和粪便污水混合在一起，各种化学物质在空气中进行化学</span>
                        <a href="/Home/Index/newsd/id/55.html" class="more">查看更多</a>
                        </div>
                        <div class="clear"></div>
                    </div>                    
                        <ul class="newslist">
                            <li>
                                <a href="/Home/Index/newsd/id/60.html">无锡污水管道疏通前的全面检查工作</a>
                                <span>[2017-01-10]</span>
                            </li>
                            <li>
                                <a href="/Home/Index/newsd/id/59.html">化粪池清理工作的注意流程</a>
                                <span>[2017-01-04]</span>
                            </li>
                            <li>
                                <a href="/Home/Index/newsd/id/55.html">清理化粪池的流程和规范</a>
                                <span>[2016-12-15]</span>
                            </li>
                            <li>
                                <a href="/Home/Index/newsd/id/52.html">疏通下水道之防止室内排水管道堵塞</a>
                                <span>[2016-11-29]</span>
                            </li>
                            <li>
                                <a href="/Home/Index/newsd/id/51.html">为什么要定期清理化粪池呢</a>
                                <span>[2016-11-25]</span>
                            </li>                    
                        </ul>
                </div>
            </div>
        </div>
        <div class="news-r">
            <div class="cjwt-t"><p>常见问题</p></div>
            <div class="news-c-r">
                <div id="udemo" style="OVERFLOW: hidden; WIDTH: 440px; margin:0 auto; HEIGHT: 381px; ">
                    <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                       <td id="udemo1">
                            <table width="100%" height="99" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                         <ul class="i-question">
                                            <% $questions.each do |question| %>
                                                <li>
                                                    <p class="que1">
                                                        <%= link_to question.name, "/index/question/#{question.id}" %>
                                                    </p>
                                                    <p class="que2">
                                                        <%= truncate(question.desc, length = 25, truncate_string = "...")%>
                                                        <%= link_to [详情], "/index/question/#{question.id}" %>
                                                    </p>
                                                </li>
                                            <% end %>

                                       <!--   <li>
                                                    <p class="que1"><a href="/Home/Index/newsd/id/54.html">化粪池清理周期一般是多久？【已解决】</a></p>
                                                    <p class="que2">化粪池里因沉淀大量的人畜粪便和生活污水，长期沉淀后会...
                                                    <a href="/Home/Index/newsd/id/54.html">[详情]</a></p>
                                             </li><li>
                                                    <p class="que1"><a href="/Home/Index/newsd/id/53.html">化粪池要多久清理一次？（已解决）</a></p>
                                                    <p class="que2">一般情况下化粪池要多久清理一次？如果不清理有没有什么...
                                                    <a href="/Home/Index/newsd/id/53.html">[详情]</a></p>
                                             </li><li>
                                                    <p class="que1"><a href="/Home/Index/newsd/id/38.html">管道清洗之扇叶的清洁一定要用'油烟净'吗？</a></p>
                                                    <p class="que2">无锡管道清洗之扇叶的清洁一定要用&#39;油烟净&#...
                                                    <a href="/Home/Index/newsd/id/38.html">[详情]</a></p>
                                             </li><li>
                                                    <p class="que1"><a href="/Home/Index/newsd/id/39.html">一般工厂小区里清理污水池的作业流程有哪些？</a></p>
                                                    <p class="que2">井体及管沟附近范围内分，首先抽干槽内积水，在有土地段...
                                                    <a href="/Home/Index/newsd/id/39.html">[详情]</a></p>
                                             </li><li>
                                                    <p class="que1"><a href="/Home/Index/newsd/id/40.html">高压管道清洗需要事洗检测管道是否存在有害气体？</a></p>
                                                    <p class="que2">高压管道清洗需要事洗检测管道是否存在有害气体？管道清...
                                                    <a href="/Home/Index/newsd/id/40.html">[详情]</a></p>
                                             </li><li>
                                                    <p class="que1"><a href="/Home/Index/newsd/id/41.html">居民小区内的化粪池清理周期一般是多久？</a></p>
                                                    <p class="que2">居民小区内的化粪池清理周期，安装对准十字线做好密封确...
                                                    <a href="/Home/Index/newsd/id/41.html">[详情]</a></p>
                                             </li><li>
                                                    <p class="que1"><a href="/Home/Index/newsd/id/42.html">管道清洗疏通行业需要哪些作业人员？</a></p>
                                                    <p class="que2">管道清洗疏通行业发展比较迅速，良多公司纷纷购置提高前...
                                                    <a href="/Home/Index/newsd/id/42.html">[详情]</a></p>
                                             </li><li>
                                                    <p class="que1"><a href="/Home/Index/newsd/id/43.html">工厂里清理化粪池需要提前打开井盖通风吗？</a></p>
                                                    <p class="que2">清理化粪池水面无漂浮物，池壁基本清洁，功课现场基本卫...
                                                    <a href="/Home/Index/newsd/id/43.html">[详情]</a></p>
                                             </li>     -->  
                                         </ul>
                                        </td>
                                  </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                       <td id="udemo2"></td>
                    </tr>
                    </table>
                </div>
                <SCRIPT>
                var speed=30
                var MyMarh=setInterval(Marqueeh,speed)
                udemo2.innerHTML=udemo1.innerHTML
                //原理是不断的向demoh2中填入demoh1中的内容，然后将已经看不见的清除
                //用一个两行一列的表格，上一列再放一个装填有内容的表格，定义为demoh1，下一列是空的TD，定义为demoh2
                //SPEED是用来控制速度的。
                udemo.onmouseover=function(){ clearInterval(MyMarh) }
                udemo.onmouseout=function(){ MyMarh=setInterval(Marqueeh,speed) }
                function Marqueeh(){
                if(udemo2.offsetHeight-udemo.scrollTop<=0)
                   udemo.scrollTop-=udemo1.offsetHeight
                else{
                   udemo.scrollTop++
                }
                }
                </SCRIPT>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!----news---->
    <!--links-->
    
</div>

<div class="links">
      <div class="links-titl"><a href="#" class="fz">合作分站</a>|<a href="#" class="yq">友情链接</a></div>
        <div class="links-c">
          <ul class="fenz">
            <div class="clear"></div>
            </ul>
            <ul class="ilink" style="display:none;">
              <li><a href="/" target="_blank">无锡管道疏通</a></li>
              <li><a href="/Home/Index/info/id/28.html" target="_blank">无锡管道CCTV检测</a></li>
              <li><a href="http://www.rjhwfw.com/" target="_blank">无锡cctv管道维修</a></li>
              <li><a href="http://www.jsrxt.com/" target="_blank">无锡管道疏通</a></li>
              <li><a href="http://www.jzmodel.cn/" target="_blank">苏州清理化粪池</a></li>
              <li><a href="http://www.jdtgd.com/" target="_blank">无锡管道封堵检测</a></li>
              <li><a href="http://www.sh-wzhb.com/" target="_blank">常州移动厕所出租</a></li>
              <li><a href="http://www.cqzhengqin.com/" target="_blank">民防体验馆设计</a></li>                
              <div class="clear"></div>
            </ul>
        </div>
    </div>
    <script>
    $(function(){
    $('.fz').hover(function(){
      $('.fenz').show();
      $('.ilink').hide();
    });
      $('.yq').hover(function(){
          $('.fenz').hide();
          $('.ilink').show();
      });
    });
    </script>

<div class="footer">
  <ul>
        <li><a href="/">首页</a></li>
        <li class="nav11"><a href="/Home/Index/products/id/2.html">服务项目</a></li>
        <li class="nav11"><a href="/Home/Index/info/id/28.html">管道检测</a></li>
        <li class="nav11"><a href="/Home/Index/news/id/7.html">新闻中心</a></li>
        <li class="nav11"><a href="/Home/Index/products/id/11.html">设备展示</a></li>
        <li class="nav11"><a href="/Home/Index/products/id/12.html">工程案例</a></li>
        <li class="nav11"><a href="/Home/Index/info/id/1.html">公司介绍</a></li>
        <li class="nav11"><a href="/Home/Index/info/id/13.html">联系我们</a></li>            
        <div class="clear"></div>
        <div class="clear"></div>
    </ul>
    
    <div class="footer-content">
     Copyright 无锡夏斌工程有限公司 版权所有 电话：0510-85203335 传真：0510-85203335<br />
    联系人：沈经理 手机：15052215566  地址：无锡市新吴区净慧东道78号 网址：<br />
    主营服务:,
    <a href="/">无锡新区环卫所抽粪</a>,
    <a href="/">无锡管道清洗</a>,
    <a href="/">无锡清理化粪池</a>,
    <a href="/">无锡污水管道疏通</a> 
    技术支持：
    <a href="http://www.wxee.net" target="_blank" style="color:#fff;" >无锡网络公司</a> <a href="/sitemap.html">网站地图</a> <br/>
    备案号：
    <a href="http://www.miitbeian.gov.cn/"rel="nofollow">苏ICP备14001826号</a>    
    </div>
    
</div>
<script src="http://stat.xiaonaodai.com/stat.php?id=6930415" language="JavaScript" type="text/javascript"></script>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?98c1df1645b158045d8a889ecc4b0b29";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>