<% content_for :bannner do %>
    <div class="bannner"> 
        <div id="slider" class="nivoSlider">
            <% $advts.each do |advt|%> 
                
                    <a target="_blank"><img src="<%= advt.image_url %>" alt="#" title="" width="1920" height="520" /></a>
                
            <% end%>  
        </div>  
    </div>
<% end %>




  <div class="case">
      <div class="index-t"><p>推荐服务</p><a href="/index/product">+More</a><div class="clear"></div></div>
        <div class="con3-c iborder">
                <div id="demoo" style="overflow:hidden;height:auto;width:1160px; margin:0px auto;">
                  <table cellpadding="0" cellspace="0" border="0">
                    <tr>
                    <td id="demoo1">
                    <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <% $products.each do |product| %>
                            <td>
                                <%= link_to "/index/product/#{product.id}" do %>
                                    <%= image_tag product.image_url, width: "275", height: "215", alt:  product.service.try(:name).to_s %>
                                    <p><%= product.service.name%></p>
                                <% end %>
                            </td>
                        <% end %>
                    </tr>
                    </table>
                    </td>
                    <td id="demoo2"></td>
                    </tr>
                  </table>
                </div>
                
                <script>
                var speed=30
                var MyMar=setInterval(Marquee,speed)
                demoo2.innerHTML=demoo1.innerHTML
                demoo.onmouseover=function() {clearInterval(MyMar)}
                demoo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}
                function Marquee(){
                if(demoo2.offsetWidth-demoo.scrollLeft<=0)
                demoo.scrollLeft-=demoo1.offsetWidth
                else{
                demoo.scrollLeft++
                }
                }
                </script>
            </div>
    </div>
    
    <!----about---->
  <div class="con2">
      <div class="con2-l">
          <div class="index-t"><p>公司介绍</p><a href="/index/intro">+More</a><div class="clear"></div></div>
            <div class="con2-l-c">
                    <!-- <img src="Public/images/about.png" /> -->
                    <%= image_tag $intro.image_url%>
                    <div class="about-r">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <%= $intro.name %>坐落于美丽的太湖之滨—无锡。是经江苏省无锡市工商局、环保局批准的专业从事环保工程；市政管道清洗疏通工程；工业废水、污水化粪池处理工程为一体的大型综合性工程服务公司。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎新老客户随时来电咨询洽谈，希望我们的事业发展能得到您们大力支持，预祝我们合作愉快 ！<br />
                    </div>
            </div>
        </div>
        <div class="con2-ce">
          <div class="index-t"><p>新闻中心</p><a href="/index/news">+More</a><div class="clear"></div></div>
            <div class="newstop1">
                    <%= image_tag $newses.first.try(:image_url) %>
                    <div class="newstop1-r">
                        <p>
                            <%= link_to $newses.first.try(:name)||"", "/index/news/#{$newses.first.try(:id)}" %>
                        </p>
                        <span>
                            <%= truncate $newses.first.try(:context), length: 50 %>
                        </span>
                    </div>
                    <div class="clear"></div>
                </div>            
                <ul class="indexnewslist">
                    <% $newses.each do |news|%>
                        <li>
                            <%= link_to  news.name, "/index/news/#{news.id}" %>
                            <span><%= news.created_at.strftime("%Y-%m-%d") %></span>
                        </li>
                    <% end %>
                </ul>
        </div>
        <div class="con2-r">
          <div class="index-t1"><p>联系我们</p></div>
            <div class="con2-c-c">
               <p><%= $intro.name %></p>
                地址：<%#= $intro.addr %><br />
                电话：0510-85203335<br />
                手机：<%= $intro.tel %><br />
                联系人：<%= $intro.user %><br />
                网址：www.jdlhbgc.com<br/>
                邮箱：946992252@qq.com           
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!----about---->
    
  <div class="con1">
      <div class="con1-l">
        <div class="con1-l-t">服务项目 Service Items</div>
          <ul class="iauth">
            <% $services.each do |service| %>
                <li>
                    <%=link_to service.name, "", title: service.name %>
                </li>
            <% end %>
          </ul>
        </div>
        <div class="con1-r">
          <div class="index-t"><p>服务项目</p><a href="/index/product">+More</a><div class="clear"></div></div>
          <ul class="cp_list">
                <% $products[0,6].to_a.each do |product| %>
                    <li>
                        <%= link_to "/index/product/#{product.id}", title: product.name do%>
                            <%= image_tag product.image_url, alt: product.name%>
                            <p> <%= product.name  %> </p>
                        <% end %>
                    </li>
                <% end %>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
  
    <!----case---->
    <div class="case">
      <div class="index-t"><p>工程案例</p><a href="/index/case">+More</a></div>
        <div class="con3-c iborder">
                <div id="caseo" style="overflow:hidden; height:auto;width:1160px;margin:0 auto; margin:0px auto; ">
                  <table cellpadding="0" cellspace="0" border="0">
                    <tr>
                        <td id="case1">
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                <% $cases.each do |ca| %>
                                    <td>
                                        <%=link_to  "/index/case/#{ca.id}", title: ca.name  do %>
                                            <%= image_tag ca.image_url, width: "275", height: "215" %>
                                            <p><%= ca.name %></p>
                                        <% end  %>
                                    </td>
                                <% end %>
                                                  
                                </tr>
                            </table>
                        </td>
                    <td id="case2"></td>
                    </tr>
                  </table>
                </div>
                
                <script>
                var speed=30
                var MyMar=setInterval(Marquee,speed)
                case2.innerHTML=case1.innerHTML
                caseo.onmouseover=function() {clearInterval(MyMar)}
                caseo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}
                function Marquee(){
                if(case2.offsetWidth-caseo.scrollLeft<=0)
                caseo.scrollLeft-=case1.offsetWidth
                else{
                caseo.scrollLeft++
                }
                }
                </script>
            </div>
    </div>
    <!----case---->
<div class="clear"></div>
    <!----news---->
    <div class="news">
            <div class="news-l">
            <div class="inews-t">
            <div class="new-t">
                <%= link_to "新闻中心" , "/index/news", class: "hyxw" %>
            </div>
            <a href="/index/news" class="newsmore">+More</a>
            </div>
            <div class="news-c">
                <div class="gsxwc">
                    <div class="newstop">
                        <% if @news.present? %>
                        <%= image_tag "@news.try(:image_url)" %>
                        <div class="newstop-r">
                            <p>
                                <%= link_to @news.try(:name)||"", "/index/news/#{@news.try(:id)}" %>
                            </p>
                            <span>
                                <%= truncate @news.try(:context), length: 50%>
                            </span>
                                <%= link_to "查看更多", "/index/news/#{@news.try(:id)}", class: "more" %>
                        </div>
                        <div class="clear"></div>
                        <% end %>
                    </div>                    
                        <ul class="newslist">
                            <% $newses[1,20].to_a.each do |news|%>
                                <li>
                                    <%= link_to news.name, "/index/news/#{news.id}"    %>
                                    <span>[<%= news.created_at.strftime("%Y-%m-%d")%>]</span>
                                </li>
                            <% end %>
                        </ul>
                </div>

               
            </div>
        </div>
        </div>
        <div class="news-r">
            <div class="cjwt-t"><p>常见问题</p></div>
            <div class="news-c-r">
                <div id="udemo" style="OVERFLOW: hidden; WIDTH: 440px; margin:0 auto; HEIGHT: 381px; ">
                    <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                       <td id="udemo1">
                            <table width="100%" height="99" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                         <ul class="i-question">
                                            <% $questions.each do |question| %>
                                                <li>
                                                    <p class="que1">
                                                        <%= link_to question.name, "/index/question/#{question.id}" %>
                                                    </p>
                                                    <p class="que2">
                                                        <%= truncate(question.desc, length: 25,truncate_string: "...")%>
                                                        <%= link_to "[详情]", "/index/question/#{question.id}" %>
                                                    </p>
                                                </li>
                                            <% end %>
                                         </ul>
                                        </td>
                                  </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                       <td id="udemo2"></td>
                    </tr>
                    </table>
                </div>
                <SCRIPT>
                var speed=30
                var MyMarh=setInterval(Marqueeh,speed)
                udemo2.innerHTML=udemo1.innerHTML
                //原理是不断的向demoh2中填入demoh1中的内容，然后将已经看不见的清除
                //用一个两行一列的表格，上一列再放一个装填有内容的表格，定义为demoh1，下一列是空的TD，定义为demoh2
                //SPEED是用来控制速度的。
                udemo.onmouseover=function(){ clearInterval(MyMarh) }
                udemo.onmouseout=function(){ MyMarh=setInterval(Marqueeh,speed) }
                function Marqueeh(){
                if(udemo2.offsetHeight-udemo.scrollTop<=0)
                   udemo.scrollTop-=udemo1.offsetHeight
                else{
                   udemo.scrollTop++
                }
                }
                </SCRIPT>
            </div>
        </div>
        <div class="clear"></div>

    <div class="links">
      <div class="links-titl"><a href="#" class="yq">友情链接</a></div>
        <div class="links-c">
          <ul class="fenz">
            <div class="clear"></div>
            </ul>
            <ul class="ilink" style="display:none;">  
              <div class="clear"></div>
            </ul>
        </div>
    </div>


