<%= render "left" %>
<div style="float: left; height: auto; width: 70%; padding-left: 100px; word-wrap:break-word">
  <!--面包屑-->
  <div class="crumb">
    <span style="font-size: 300%; padding-left: 20px;"><%= @news.name %></span>
    <div style="float: right; padding-top: 30px; padding-right: 20px;">
      <span>新闻中心</span> > <span><%= @news.name %> </span>
    </div>
  </div>

  <!--正文-->
  <div class="context">
    <h1  style="border-bottom-style: none;margin-bottom: 20px;">
      <%= @news.name %>
    </h1>
    <span style="padding-left: 150px; "> 发布时间: <%= @news.created_at.strftime("%Y-%m-%m %H:%M") %></span>
    <span style="padding-left: 10px; "> 发布者: <%= $intro.name %></span>
    <div style="min-height: 300px; margin: 20px 0;">
      <%= @news.context %>
    </div>
  </div>

    <!--分隔符-->
  <div class="demo_line_01"><%= $intro.name %></div>

<div class="bbm">
   <h3>
      最新新闻：
   </h3>
 </div> 
<!--其他新闻-->
  <ul class="indexnewslist">
      <% @newses[0,6].each do |news|%>
          <li style="border-bottom: 1px dashed; margin-bottom: 4px; ">
              <%= link_to  news.name, "/index/news/#{news.id}" %>
              <span><%= news.created_at.strftime("%Y-%m-%d") %></span>
          </li>
      <% end %>
  </ul>
</div>