<%= render "left" %>
<div style="float: left; height: auto; width: 70%; padding-left: 100px; word-wrap:break-word">
  <!--面包屑-->
  <div class="crumb">
    <span style="font-size: 300%; padding-left: 20px;"><%= @question.name %></span>
    <div style="float: right; padding-top: 30px; padding-right: 20px;">
      <span>常见问题</span> > <span><%= @question.name %> </span>
    </div>
  </div>


  <!--正文-->
  <div class="context">
    <h1  style="border-bottom-style: none ">
      <%= @question.name %>
    </h1>
    <div class="bbm ">
      <h3>
        详情介绍
      </h3>
    </div>
    <div style="min-height: 300px;">
      <%= @question.context %>
    </div>
  </div>

  <!--分隔符-->
  <div class="demo_line_01"><%= $intro.name %></div>

<!--其他问题-->
<div class="bbm">
   <h3>
      常见问题：
   </h3>
 </div> 

  <!--其他问题-->
  <ul class="i-question">
      <% @questions.each do |question| %>
          <li>
              <p class="que1">
                  <%= link_to question.name, "/index/question/#{question.id}" %>
              </p>
              <p class="que2">
                  <%= truncate(question.desc, length: 25,truncate_string: "...")%>
                  <%= link_to "[详情]", "/index/question/#{question.id}" %>
              </p>
          </li>
      <% end %>
   </ul>
</div>





