<div class="title">
   <%= form_tag admin_questions_path, method: :get do %>
    <h2><i class="fa fa-pencil-square-o"></i>题目管理</h2>
    <div class="titlebox">
    <!--   <%= text_field_tag :name, params[:name], class: "texts w300 mt10", placeholder: '输入商家名称' %>
      <button class="btn1 mlr8" type="submit"><i class="glyphicon glyphicon-search"></i>搜索</button> -->
      <a class="btn2" href="/admin/questions/new"><i class="fa fa-plus"></i>添加案例</a>
    </div>
  <% end %> 
</div>

<div class="tabbox1">
  <table class="tab1 mt30">
    <thead>
      <tr>
        <th>标题</th>
        <th>简介</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr class="center">
          <td><%= question.name %></td>
          <td><%= question.desc %></td>
          <td class="action-buttons">
            <%#= link_to "详情", admin_questions_path(question), class: "blue fa fa-search-plus", title: "预览", target:"_blank" %>
            <%= link_to "置顶", "/admin/question/top?id=#{question.id}", class: "blue" %>
            <%= link_to "删除", [:admin, question], method: :delete, data: {confirm: "确定删除?"}, title:"删除", class:"red" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @questions %>
</div>
