
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>夏斌的网站_无锡管道疏通清洗_无锡清理污水池_CCTV管道检测_夏斌</title>
<meta name="keywords" content="无锡清理化粪池,无锡化粪池清理,无锡清理污水池,无锡清理隔油池,无锡清理沉淀池,无锡管道疏通,无锡疏通下水道,无锡污水管道清洗,无锡雨水管道清洗,无锡环卫所抽粪,无锡洒水车出租,无锡雨水管道疏通,无锡污水管道疏通,无锡CCTV管道检测,无锡管道检测,无锡声纳管道检测,无锡QV管道检测" />
<meta name="description" content="无锡清理化粪池,新区污水管道疏通检测选【无锡夏斌服务热线：15052215566】,我公司专业从事滨湖区疏通下水道,梅村清理污水池,惠山区雨水管道清洗疏通,崇安区清理隔油池,江阴清理沉淀池,宜兴环卫所抽粪.以及无锡高压管道清洗疏通,cctv声纳管道检测等业务。" />
<%= stylesheet_link_tag 'fro', media: 'all'%>
<%= javascript_include_tag 'fro'%>
<script type="text/javascript">(!!navigator.userAgent.match(/Mobile/))||(!!navigator.userAgent.match(/UCBrowser/))?window.location.href='./Mb/Index/':null;</script>
<script type="text/javascript">
$(function() {
   $('#slider').nivoSlider({directionNavHide:false,captionOpacity:0});
});
//选项卡
$(function(){
  $('.hyxw').hover(function(){
    $('.hyxwc').show();
    $('.gsxwc').hide();
    });
  $('.gsxw').hover(function(){
    $('.hyxwc').hide();
    $('.gsxwc').show();
    });

});
</script>
<!-- www.jdlhbgc.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?3106aed4f65f5d0fa901d9343327f02c";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
<div class="header">
  <div class="top_top">
      <div class="top_c">
          <div class="top_top_left">无锡清理化粪池_污水雨水管道疏通清洗_无锡清理污水池_<%= $intro.name %>！</div>
            <div class="top_top_right"><a href="/">网站首页</a>|<a onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('')" >设为首页</a>|<a href="javascript:window.external.AddFavorite('', '【无锡清理化粪池】_无锡管道疏通清洗_无锡清理污水池_CCTV管道检测_夏斌')">加入收藏</a></div>
            <div class="clear"></div>
        </div>
    </div>
  <div class="top" style=" width: auto;">
      <div class="logo" style="margin-left: 10%; width: 50%; font-size: 300%; text-shadow:1px 1px 5px #000;  ">
          <%= $intro.name %>
      </div>
      <div class="tel" style="margin-right: 10%; color:  #FF0000;">
        <div style="float: left; font-size: 200%;  padding-top: 3%;text-shadow:1px 1px 5px;">
          诚信经营 &nbsp;&nbsp; 服务保障
        </div>
        <div style="float: left; padding-left: 23px; color: #FF0000; ">
          <span style="font-size: 150%; padding: 0;color: #000000">24小时服务热线:<span><br/>
          <%= $intro.tel %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div id="navmenu">
      <ul>
          <li><a href="/">首页</a></li>
            <li class="nav11"><a href="/index/product">服务项目</a></li>
            <li class="nav11"><a href="/index/case">工程案例</a></li>
            <li class="nav11"><a href="/index/news">新闻中心</a></li>
            <li class="nav11"><a href="/index/intro">公司介绍</a></li>
            <li class="nav11"><a href="/index/about">联系我们</a></li>           
            <div class="clear"></div>
        </ul>
    </div>
    
    <%= yield :bannner %>

<div class="main">
  <%= yield%>
</div>
<div class="links">
      <div class="links-titl"><a href="#" class="fz">合作分站</a>|<a href="#" class="yq">友情链接</a></div>
        <div class="links-c">
          <ul class="fenz">
            <div class="clear"></div>
            </ul>
            <ul class="ilink" style="display:none;">  
              <div class="clear"></div>
            </ul>
        </div>
    </div>
    <script>
    $(function(){
    $('.fz').hover(function(){
      $('.fenz').show();
      $('.ilink').hide();
    });
      $('.yq').hover(function(){
          $('.fenz').hide();
          $('.ilink').show();
      });
    });
    </script>

<div class="footer">
  <ul>
        <li><a href="/">首页</a></li>
        <li class="nav11"><a href="/index/product">服务项目</a></li>
        <li class="nav11"><a href="/index/case">工程案例</a></li>
        <li class="nav11"><a href="/index/news">新闻中心</a></li>
        <li class="nav11"><a href="/index/intro">公司介绍</a></li>
        <li class="nav11"><a href="/index/about">联系我们</a></li>            
        <div class="clear"></div>
        <div class="clear"></div>
    </ul>
    
    <div class="footer-content">
     Copyright 无锡夏斌工程有限公司 版权所有 电话：0510-85203335 传真：0510-85203335<br />
    联系人：沈经理 手机：15052215566  地址：无锡市新吴区净慧东道78号 网址：<br />
    主营服务:
    <br/>
    备案号：
    <a href="http://www.miitbeian.gov.cn/"rel="nofollow">苏ICP备14001826号</a>    
    </div>
    
</div>
<!-- <script src="http://stat.xiaonaodai.com/stat.php?id=6930415" language="JavaScript" type="text/javascript"></script> -->

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?98c1df1645b158045d8a889ecc4b0b29";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>